In [25]:
import duckdb
import pandas as pd
from datetime import datetime
import time
start_time = time.time()

In [ ]:
# Convert Holyoke pressure data from .dat to .csv format
def pressure_txt_dat_to_csv(file_path):
    with open(file_path, 'r') as file:
        lines = file.readlines()

    datalist = []

    offset = 0
    # The file has 140 groups of 33 lines each
    # The first line of this group is the year
    # The second line contains the month names
    # The next 31 lines contain the data for each day of the month
    for offset in range(140):
        year = lines[offset*33]
        months = lines[offset*33+1].split()
        data = lines[offset*33+2].split()
        print(year, months, data)
        
        for i in range(3): # for each month, iterate over the data, while getting the date and entries
            curr_month = months[i]
            for line in range(31):
                datestring = f'{year.strip()}_{curr_month}_{line+1}'
                try:
                    date = datetime.strptime(datestring, '%Y_%B_%d')
                except ValueError:
                    date = None
                data = lines[offset*33+line+2].split()
                curr_data = (date, data[2*i+1], data[2*i+2], datestring)
                datalist.append(curr_data)

    # Create a DataFrame and save it to CSV
    df = pd.DataFrame(datalist, columns=['date', 'p0', 'p1', 'datestring'])
    df.to_csv(file_path + '.csv', index=False)

pressure_txt_dat_to_csv('data/Holyoke/holyoke.pressure.dat.txt')

1786
 ['January', 'February', 'March'] ['1', '1021.8', '1015.6', '1027.3', '1029.0', '1007.8', '1008.8']
1786
 ['April', 'May', 'June'] ['1', '1020.1', '1014.7', '997.8', '998.1', '1016.5', '1015.0']
1786
 ['July', 'August', 'September'] ['1', '1017.3', '1013.2', '1016.4', '1014.6', '1012.6', '1015.4']
1786
 ['October', 'November', 'December'] ['1', '1013.5', '1010.5', '1011.1', '1016.7', '1007.5', '1006.5']
1787
 ['January', 'February', 'March'] ['1', '1015.2', '1015.6', '1028.7', '1025.5', '995.4', '999.7']
1787
 ['April', 'May', 'June'] ['1', '1019.4', '1008.9', '996.2', '1004.0', '995.9', '997.6']
1787
 ['July', 'August', 'September'] ['1', '1011.6', '1009.8', '1014.9', '1012.5', '1015.9', '1008.5']
1787
 ['October', 'November', 'December'] ['1', '1026.9', '1021.8', '1008.2', '1016.8', '1001.4', '998.4']
1788
 ['January', 'February', 'March'] ['1', '1017.3', '1008.3', '1019.1', '1021.5', '1005.9', '1003.7']
1788
 ['April', 'May', 'June'] ['1', '1010.1', '1008.9', '1012.9', '1007.7', '1002.1', '1003.9']
1788
 ['July', 'August', 'September'] ['1', '1008.7', '1009.5', '1017.5', '1012.6', '1016.6', '1003.5']
1788
 ['October', 'November', 'December'] ['1', '1023.0', '1022.0', '1030.1', '1020.5', '1002.5', '988.7']
1789
 ['January', 'February', 'March'] ['1', '1023.7', '1031.5', '1022.2', '1032.2', '1005.9', '1015.4']
1789
 ['April', 'May', 'June'] ['1', '1006.0', '1002.8', '1009.4', '1007.7', '1010.8', '1010.7']
1789
 ['July', 'August', 'September'] ['1', '1008.0', '1010.8', '1007.1', '1008.4', '1012.6', '1007.3']
1789
 ['October', 'November', 'December'] ['1', '1009.4', '1010.3', '1015.2', '1019.2', '983.1', '991.1']
1790
 ['January', 'February', 'March'] ['1', '1000.9', '1008.5', '1020.6', '1006.2', '1022.7', '1013.9']
1790
 ['April', 'May', 'June'] ['1', '1025.1', '1017.3', '1019.4', '1013.5', '1005.7', '9999.9']
1790
 ['July', 'August', 'September'] ['1', '1006.4', '1005.5', '1012.0', '1015.5', '1016.0', '1009.4']
1790
 ['October', 'November', 'December'] ['1', '1015.9', '1017.4', '1019.2', '1005.8', '1025.7', '9999.9']
1791
 ['January', 'February', 'March'] ['1', '1009.0', '1014.9', '1019.8', '1016.7', '1009.7', '987.2']
1791
 ['April', 'May', 'June'] ['1', '1007.6', '1010.4', '1004.7', '1010.9', '1022.3', '1020.2']
1791
 ['July', 'August', 'September'] ['1', '1004.6', '9999.9', '1007.4', '1003.8', '1008.8', '1008.4']
1791
 ['October', 'November', 'December'] ['1', '1011.0', '1004.5', '1005.3', '9999.9', '1017.2', '1003.2']
1792
 ['January', 'February', 'March'] ['1', '1025.4', '1017.0', '997.5', '1002.5', '1019.4', '1013.2']
1792
 ['April', 'May', 'June'] ['1', '1017.1', '1015.7', '1016.1', '1014.0', '1018.1', '1018.8']
1792
 ['July', 'August', 'September'] ['1', '1004.8', '1002.2', '997.7', '1003.9', '1015.5', '1011.7']
1792
 ['October', 'November', 'December'] ['1', '1001.8', '1006.5', '1013.3', '1004.7', '1005.7', '1004.7']
1793
 ['January', 'February', 'March'] ['1', '1017.3', '1029.0', '1034.7', '1026.9', '1036.1', '1031.6']
1793
 ['April', 'May', 'June'] ['1', '1019.2', '1023.7', '1026.1', '1022.9', '1002.6', '1005.1']
1793
 ['July', 'August', 'September'] ['1', '1006.6', '1001.6', '1010.2', '1012.2', '1007.4', '1000.7']
1793
 ['October', 'November', 'December'] ['1', '1012.0', '1005.3', '1022.3', '1023.3', '1007.3', '1007.7']
1794
 ['January', 'February', 'March'] ['1', '1004.4', '9999.9', '1009.2', '1015.3', '1008.8', '1014.5']
1794
 ['April', 'May', 'June'] ['1', '993.6', '9999.9', '1019.3', '1013.0', '1008.1', '1004.7']
1794
 ['July', 'August', 'September'] ['1', '1011.4', '1015.6', '1011.3', '1003.6', '1017.5', '1010.2']
1794
 ['October', 'November', 'December'] ['1', '1031.1', '1026.6', '1011.7', '1014.0', '1010.1', '987.2']
1795
 ['January', 'February', 'March'] ['1', '1007.3', '1008.4', '1003.1', '1012.0', '1007.7', '1011.7']
1795
 ['April', 'May', 'June'] ['1', '1012.9', '1010.3', '1017.2', '1019.8', '1004.9', '1003.9']
1795
 ['July', 'August', 'September'] ['1', '1010.1', '1011.4', '1017.7', '1016.5', '1004.8', '1006.5']
1795
 ['October', 'November', 'December'] ['1', '1025.8', '1028.2', '994.6', '1000.1', '1005.4', '997.6']
1796
 ['January', 'February', 'March'] ['1', '1008.4', '1025.5', '1023.1', '1013.4', '1014.6', '1017.6']
1796
 ['April', 'May', 'June'] ['1', '1002.7', '1001.1', '1002.8', '1005.5', '1008.8', '1008.3']
1796
 ['July', 'August', 'September'] ['1', '1002.4', '1005.5', '1003.8', '1004.0', '1018.1', '1017.2']
1796
 ['October', 'November', 'December'] ['1', '1020.2', '1019.6', '1008.4', '1009.1', '1001.2', '994.9']
1797
 ['January', 'February', 'March'] ['1', '1007.6', '1012.1', '1023.2', '1017.7', '1015.9', '9999.9']
1797
 ['April', 'May', 'June'] ['1', '999.2', '1003.1', '1005.5', '1010.0', '1012.0', '1011.6']
1797
 ['July', 'August', 'September'] ['1', '1010.1', '1006.1', '1013.2', '1012.7', '1012.8', '1004.6']
1797
 ['October', 'November', 'December'] ['1', '1021.7', '1011.6', '1014.4', '1017.6', '1010.0', '1014.3']
1798
 ['January', 'February', 'March'] ['1', '1018.8', '1000.6', '1004.8', '1007.7', '1019.8', '9999.9']
1798
 ['April', 'May', 'June'] ['1', '1010.0', '1010.8', '1010.2', '1009.6', '1007.1', '1002.8']
1798
 ['July', 'August', 'September'] ['1', '1008.5', '1004.1', '1012.5', '1014.8', '1015.5', '1018.2']
1798
 ['October', 'November', 'December'] ['1', '1018.4', '9999.9', '1009.6', '1005.9', '1005.6', '1013.6']
1799
 ['January', 'February', 'March'] ['1', '1021.6', '1015.0', '1002.3', '998.0', '1021.2', '1022.4']
1799
 ['April', 'May', 'June'] ['1', '1000.4', '1006.8', '1011.8', '999.9', '998.6', '994.3']
1799
 ['July', 'August', 'September'] ['1', '1010.6', '1003.8', '1004.7', '1003.5', '1017.1', '1007.6']
1799
 ['October', 'November', 'December'] ['1', '1010.2', '1011.8', '1011.4', '1013.2', '1011.9', '1010.0']
1800
 ['January', 'February', 'March'] ['1', '1008.9', '1012.9', '1009.1', '1002.9', '989.4', '994.0']
1800
 ['April', 'May', 'June'] ['1', '1004.5', '1013.1', '1011.1', '1008.1', '1012.5', '1011.9']
1800
 ['July', 'August', 'September'] ['1', '1015.0', '1018.5', '1012.7', '1014.2', '9999.9', '1000.9']
1800
 ['October', 'November', 'December'] ['1', '1008.8', '1008.8', '1019.3', '1015.3', '1015.0', '1021.5']
1801
 ['January', 'February', 'March'] ['1', '1021.1', '1015.7', '1012.6', '1015.2', '1024.4', '1019.7']
1801
 ['April', 'May', 'June'] ['1', '1003.8', '1006.8', '1011.4', '1004.9', '1007.3', '1006.0']
1801
 ['July', 'August', 'September'] ['1', '1013.1', '1006.1', '1007.5', '1004.0', '1007.9', '1007.4']
1801
 ['October', 'November', 'December'] ['1', '1022.8', '1021.8', '1015.3', '1008.9', '1018.9', '1016.9']
1802
 ['January', 'February', 'March'] ['1', '1023.9', '1024.0', '1033.0', '1017.4', '1027.8', '1025.6']
1802
 ['April', 'May', 'June'] ['1', '1015.5', '1006.9', '1014.9', '1022.1', '1005.3', '1016.9']
1802
 ['July', 'August', 'September'] ['1', '1013.6', '1010.8', '1008.6', '1009.5', '1009.8', '1006.5']
1802
 ['October', 'November', 'December'] ['1', '1025.3', '1024.7', '985.2', '999.8', '1002.8', '995.7']
1803
 ['January', 'February', 'March'] ['1', '1022.2', '1015.4', '1016.9', '1016.3', '1006.8', '998.7']
1803
 ['April', 'May', 'June'] ['1', '995.7', '1023.4', '1009.0', '9999.9', '1000.7', '1000.6']
1803
 ['July', 'August', 'September'] ['1', '1004.0', '1000.2', '1004.8', '1003.7', '1016.6', '1011.7']
1803
 ['October', 'November', 'December'] ['1', '1024.3', '1019.0', '1011.9', '1012.5', '996.5', '988.8']
1804
 ['January', 'February', 'March'] ['1', '1011.4', '996.1', '1011.4', '1010.9', '1016.1', '1007.0']
1804
 ['April', 'May', 'June'] ['1', '1010.3', '1010.8', '9999.9', '1013.0', '1008.2', '1013.6']
1804
 ['July', 'August', 'September'] ['1', '1009.0', '1005.5', '1011.0', '1012.9', '1012.6', '1011.6']
1804
 ['October', 'November', 'December'] ['1', '1017.6', '1021.4', '1023.0', '1020.7', '1004.5', '1004.0']
1805
 ['January', 'February', 'March'] ['1', '1009.0', '1002.6', '999.6', '989.7', '1019.3', '1012.9']
1805
 ['April', 'May', 'June'] ['1', '1011.1', '9999.9', '1014.6', '1010.3', '1008.5', '1009.3']
1805
 ['July', 'August', 'September'] ['1', '1010.3', '1014.2', '1008.9', '1008.3', '1021.6', '1020.9']
1805
 ['October', 'November', 'December'] ['1', '1017.4', '1015.2', '1015.2', '9999.9', '1001.4', '1011.8']
1806
 ['January', 'February', 'March'] ['1', '1002.7', '1004.6', '1015.4', '1006.6', '1007.4', '1013.9']
1806
 ['April', 'May', 'June'] ['1', '997.6', '1005.1', '999.5', '1000.4', '1001.0', '1001.3']
1806
 ['July', 'August', 'September'] ['1', '1004.0', '1003.9', '1019.1', '1015.7', '1012.4', '1009.5']
1806
 ['October', 'November', 'December'] ['1', '1006.6', '1006.9', '1011.4', '1014.1', '1016.4', '1017.7']
1807
 ['January', 'February', 'March'] ['1', '1034.8', '1027.0', '989.9', '1010.4', '990.3', '997.8']
1807
 ['April', 'May', 'June'] ['1', '985.5', '1000.4', '1001.5', '999.3', '1018.5', '1010.5']
1807
 ['July', 'August', 'September'] ['1', '1004.5', '1009.0', '1011.7', '1011.9', '1006.8', '1007.9']
1807
 ['October', 'November', 'December'] ['1', '1014.9', '1014.9', '1000.7', '1004.6', '1018.4', '1015.7']
1808
 ['January', 'February', 'March'] ['1', '1011.0', '1011.5', '1002.0', '997.2', '1007.1', '1019.0']
1808
 ['April', 'May', 'June'] ['1', '1007.7', '1004.7', '1019.9', '1015.9', '999.8', '999.8']
1808
 ['July', 'August', 'September'] ['1', '999.8', '998.6', '1009.2', '1010.7', '1019.4', '1014.7']
1808
 ['October', 'November', 'December'] ['1', '1021.4', '1014.2', '1026.4', '1014.2', '1014.9', '1021.3']
1809
 ['January', 'February', 'March'] ['1', '1010.3', '992.9', '1012.5', '1012.1', '999.3', '981.5']
1809
 ['April', 'May', 'June'] ['1', '1008.3', '1005.4', '1002.9', '1004.7', '9999.9', '1006.0']
1809
 ['July', 'August', 'September'] ['1', '1012.4', '1004.3', '1016.5', '1014.2', '1009.6', '1011.5']
1809
 ['October', 'November', 'December'] ['1', '1013.3', '1015.3', '1030.7', '1031.5', '1017.6', '1005.6']
1810
 ['January', 'February', 'March'] ['1', '1015.8', '1021.3', '1014.6', '1013.1', '1008.8', '1001.6']
1810
 ['April', 'May', 'June'] ['1', '1020.1', '1000.9', '1000.8', '1005.6', '1006.8', '1010.9']
1810
 ['July', 'August', 'September'] ['1', '1006.1', '1010.8', '1007.5', '1004.7', '1015.2', '1012.7']
1810
 ['October', 'November', 'December'] ['1', '1011.7', '1007.9', '1020.1', '1019.2', '1018.0', '1018.7']
1811
 ['January', 'February', 'March'] ['1', '1022.2', '1020.3', '1013.5', '1015.9', '994.9', '1000.8']
1811
 ['April', 'May', 'June'] ['1', '1006.9', '1018.0', '9999.9', '9999.9', '1002.6', '998.5']
1811
 ['July', 'August', 'September'] ['1', '1019.3', '1012.0', '1004.3', '1008.1', '1019.0', '1015.4']
1811
 ['October', 'November', 'December'] ['1', '1026.8', '1033.3', '995.6', '1000.9', '1010.0', '981.7']
1812
 ['January', 'February', 'March'] ['1', '994.1', '983.4', '1014.4', '1025.1', '1016.0', '1020.3']
1812
 ['April', 'May', 'June'] ['1', '1017.7', '1015.7', '1008.0', '1015.9', '1005.8', '1005.1']
1812
 ['July', 'August', 'September'] ['1', '1015.0', '1014.8', '1007.4', '1001.9', '1014.1', '1010.1']
1812
 ['October', 'November', 'December'] ['1', '1003.1', '1007.4', '997.6', '1006.5', '1004.4', '1017.9']
1813
 ['January', 'February', 'March'] ['1', '1019.8', '1009.7', '996.9', '1007.2', '997.1', '998.1']
1813
 ['April', 'May', 'June'] ['1', '1018.2', '1009.1', '1009.3', '1012.9', '1012.2', '1012.8']
1813
 ['July', 'August', 'September'] ['1', '1009.1', '1008.9', '1022.0', '9999.9', '1012.1', '1013.8']
1813
 ['October', 'November', 'December'] ['1', '1012.8', '1013.3', '1014.4', '1006.4', '1006.3', '999.4']
1814
 ['January', 'February', 'March'] ['1', '1006.7', '1003.9', '990.1', '999.3', '1007.9', '994.4']
1814
 ['April', 'May', 'June'] ['1', '989.0', '995.3', '999.5', '1005.3', '1006.1', '1008.7']
1814
 ['July', 'August', 'September'] ['1', '1010.9', '1009.8', '1013.8', '1011.9', '1020.1', '1012.6']
1814
 ['October', 'November', 'December'] ['1', '1020.6', '1011.8', '1028.6', '1032.8', '1006.7', '1014.1']
1815
 ['January', 'February', 'March'] ['1', '1001.5', '1001.3', '1012.5', '1016.5', '1009.0', '1013.3']
1815
 ['April', 'May', 'June'] ['1', '1001.1', '1014.2', '1013.6', '1013.4', '1016.3', '1014.0']
1815
 ['July', 'August', 'September'] ['1', '1009.0', '999.7', '1002.4', '1006.9', '1013.3', '1016.2']
1815
 ['October', 'November', 'December'] ['1', '1007.2', '1008.2', '1022.1', '1020.8', '1015.0', '1022.2']
1816
 ['January', 'February', 'March'] ['1', '1001.5', '1003.0', '997.6', '994.2', '1020.2', '1023.5']
1816
 ['April', 'May', 'June'] ['1', '1006.8', '996.2', '1004.5', '1004.2', '1012.7', '1004.7']
1816
 ['July', 'August', 'September'] ['1', '1020.1', '1015.5', '1004.8', '1007.9', '1008.6', '1007.2']
1816
 ['October', 'November', 'December'] ['1', '1019.3', '1018.5', '1005.9', '1008.9', '1014.8', '1021.5']
1817
 ['January', 'February', 'March'] ['1', '1015.3', '1010.7', '1010.4', '1007.4', '997.2', '1007.2']
1817
 ['April', 'May', 'June'] ['1', '1009.3', '1015.1', '1020.1', '1021.0', '1015.4', '1017.7']
1817
 ['July', 'August', 'September'] ['1', '1001.1', '1001.6', '1012.5', '1014.1', '1015.8', '1015.7']
1817
 ['October', 'November', 'December'] ['1', '1017.9', '1014.0', '1015.6', '1007.6', '1002.7', '1005.5']
1818
 ['January', 'February', 'March'] ['1', '1010.5', '1007.6', '1021.8', '1026.8', '1017.5', '1009.8']
1818
 ['April', 'May', 'June'] ['1', '1014.8', '1020.5', '1000.9', '995.5', '1014.4', '1014.4']
1818
 ['July', 'August', 'September'] ['1', '1006.9', '1015.0', '1010.8', '1015.0', '1004.1', '1001.6']
1818
 ['October', 'November', 'December'] ['1', '1020.9', '1019.0', '1003.0', '1003.5', '1019.5', '1020.6']
1819
 ['January', 'February', 'March'] ['1', '1010.7', '1014.7', '1017.0', '1015.4', '1008.2', '997.4']
1819
 ['April', 'May', 'June'] ['1', '1024.7', '1025.3', '1004.7', '1001.3', '1010.2', '1006.6']
1819
 ['July', 'August', 'September'] ['1', '999.8', '1002.3', '1009.2', '1011.6', '1012.2', '1010.3']
1819
 ['October', 'November', 'December'] ['1', '1001.2', '993.6', '1013.4', '1004.6', '1004.2', '991.7']
1820
 ['January', 'February', 'March'] ['1', '1009.5', '1008.3', '1014.6', '1027.1', '1001.4', '998.0']
1820
 ['April', 'May', 'June'] ['1', '996.6', '1004.7', '1005.1', '1004.6', '1013.6', '1009.6']
1820
 ['July', 'August', 'September'] ['1', '1008.9', '1016.9', '1013.0', '1010.8', '1007.9', '1010.1']
1820
 ['October', 'November', 'December'] ['1', '1024.2', '1025.2', '1010.4', '1004.9', '1006.5', '998.3']

In [27]:
def temperature_txt_dat_to_csv(file_path):
    with open(file_path, 'r') as file:
        lines = file.readlines()

    datalist = []

    offset = 0
    for offset in range(176):
        year = lines[offset*33]
        months = lines[offset*33+1].split()
        data = lines[offset*33+2].split()
        
        for i in range(3):
            curr_month = months[i]
            for line in range(31):
                datestring = f'{year.strip()}_{curr_month}_{line+1}'
                try:
                    date = datetime.strptime(datestring, '%Y_%B_%d')
                except ValueError:
                    date = None
                data = lines[offset*33+line+2].split()
                curr_data = (date, data[4*i+1], data[4*i+2], 
                             data[4*i+3], data[4*i+4],
                             datestring)
                datalist.append(curr_data)

    df = pd.DataFrame(datalist, columns=['date', 't0', 't1', 't2', 't3', 'datestring'])
    df.to_csv(file_path + '.csv', index=False)

temperature_txt_dat_to_csv('data/Holyoke/holyoke.temperature.dat.txt')

In [28]:
%load_ext sql
conn = duckdb.connect('dbs/holyoke_database.db')
%sql conn --alias duckdb

%config SqlMagic.autopandas = True
%config SqlMagic.feedback = False
%config SqlMagic.displaycon = False

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

Month
pe      pe    te      te      te      te
08:00   12:00 08:00   12:00   sunset  22:00

The observation time for the first measurement was generally noted down as `eight o'clock', but sometimes `from eight to nine'.  The second observation (for temperature and the state of the weather) is generally made around noon, but sometimes `at one P.M.', `at two P.M.' or `between one and two P.M.'. The third measurement (for temperature and the state of the weather) is at sunset, and the fourth is uniformly at ten in the evening.
In contrast to the data in partI, the first of the five thermometer readings denote the measurement taken at night. The second to fifth readings correspond to similar observing times as in PartI.

In [ ]:
%%sql
# Read the pressure CSVs
DROP TABLE IF EXISTS Pressure;
CREATE TABLE Pressure AS
SELECT
    date,
    p0,
    p1,
    # CASE
    #     WHEN TRY_CAST(STRPTIME(date, '%Y_%B_%d') AS TIMESTAMP) IS NULL THEN NULL
    #     ELSE STRPTIME(date, '%Y_%B_%d')
    # END AS datetime_column
FROM read_csv_auto('data/Holyoke/holyoke.pressure.dat.txt.csv')

   Count
0  13020

In [ ]:
%%sql
# Set the NULL values
UPDATE Pressure
SET p0 = NULL
WHERE p0 = 9999.9;

   Count
0    570

In [32]:
%%sql
UPDATE Pressure
SET p1 = NULL
WHERE p1 = 9999.9;

   Count
0    798

#### Temperature

In [ ]:
%%sql
# Read the temperature CSVs
DROP TABLE IF EXISTS Temperature;
CREATE TABLE Temperature AS
SELECT *
FROM read_csv_auto('data/Holyoke/holyoke.temperature.dat.txt.csv')

   Count
0  16368

In [ ]:
%%sql
# Set the NULL values
UPDATE Temperature
SET t0 = NULL
WHERE t0 = -99.0;

   Count
0    803

In [37]:
%%sql
UPDATE Temperature
SET t1 = NULL
WHERE t1 = -99.0;

   Count
0    729

In [38]:
%%sql
UPDATE Temperature
SET t2 = NULL
WHERE t2 = -99.0;

   Count
0   1459

In [39]:
%%sql
UPDATE Temperature
SET t3 = NULL
WHERE t3 = -99.0;

   Count
0    761

#### Combined data

In [ ]:
%%sql
# Create the Holyoke table by joining Temperature and Pressure on date
DROP TABLE IF EXISTS Holyoke;
CREATE TABLE Holyoke AS
SELECT * FROM Temperature
FULL JOIN Pressure
USING (date);

   Count
0  16605

In [ ]:
%%sql
# Combine the columns at different times in single columns with timestamp
DROP TABLE IF EXISTS Holyoke_Long;
CREATE TABLE Holyoke_Long AS 
SELECT * FROM
    (
    SELECT
        date,
        '08:00:00' AS time_of_day,
        (Date + INTERVAL '8 hours') AT TIME ZONE 'America/New_York' AS Timestamp,
        t0 AS temperature,
        p0 AS pressure
    FROM Holyoke

    UNION ALL

    SELECT
        date,
        '12:00:00' AS time_of_day,
        (Date + INTERVAL '12 hours') AT TIME ZONE 'America/New_York' AS Timestamp,
        t1 AS temperature,
        p1 AS pressure
    FROM Holyoke

    UNION ALL

    -- SUNSET
    SELECT
        date,
        '19:00:00' AS time_of_day, 
        (Date + INTERVAL '19 hours') AT TIME ZONE 'America/New_York' AS Timestamp,
        t2 AS temperature,
        NULL AS pressure
    FROM Holyoke

    UNION ALL

    SELECT
        date,
        '22:00:00' AS time_of_day,
        (Date + INTERVAL '22 hours') AT TIME ZONE 'America/New_York' AS Timestamp,
        t3 AS temperature,
        NULL AS pressure
    FROM Holyoke
    )
    WHERE Date IS NOT NULL;

   Count
0  64280

In [48]:
%%sql
COPY
    (SELECT * FROM Holyoke_Long)
    TO 'dbs/holyoke.parquet'
    (FORMAT parquet);

   Count
0  64280

In [49]:
end_time = time.time()
print(f"Script executed in {end_time - start_time:.2f} seconds.")

Script executed in 1.82 seconds.