In [2]:
import duckdb
import pandas as pd 
import os
from tqdm.auto import tqdm

In [3]:
%load_ext sql
conn = duckdb.connect('database.db')
%sql conn --alias duckdb

%config SqlMagic.autopandas = True
%config SqlMagic.feedback = False
%config SqlMagic.displaycon = False

In [14]:
%%sql
SELECT * FROM 'dbs/bonaire.parquet' WHERE dryBulbTemperature IS NOT NULL

,Stn,Date,Time,timestamp,Precipitation,qPrecipitation,maxPressure,qPressure,minPressure,qMinPressure,maxTemperature,qMaxTemperature,minTemperature,qMinTemperature,Pressure,qPressure_1,dryBulbTemperature,qDryBulbTemperature
0,44,1927-01-01,8.0,1927-01-01 12:00:00+00:00,35,0,NaN,0,NaN,<NA>,NaN,<NA>,NaN,<NA>,758.500000,0,27.500000,0
1,44,1927-01-01,15.0,1927-01-01 19:00:00+00:00,35,0,NaN,0,NaN,<NA>,NaN,<NA>,NaN,<NA>,757.000000,0,28.000000,0
2,44,1927-01-02,8.0,1927-01-02 12:00:00+00:00,0,0,NaN,0,NaN,<NA>,NaN,<NA>,NaN,<NA>,758.500000,0,27.500000,0
3,44,1927-01-02,15.0,1927-01-02 19:00:00+00:00,0,0,NaN,0,NaN,<NA>,NaN,<NA>,NaN,<NA>,757.000000,0,28.000000,0
4,44,1927-01-03,8.0,1927-01-03 12:00:00+00:00,0,0,NaN,0,NaN,<NA>,NaN,<NA>,NaN,<NA>,758.500000,0,27.500000,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10525,44,1941-05-29,15.0,1941-05-29 21:00:00+02:00,0,0,NaN,0,NaN,<NA>,NaN,<NA>,NaN,<NA>,751.992371,0,30.000000,0
10526,44,1941-05-30,8.0,1941-05-30 14:00:00+02:00,0,0,NaN,0,NaN,<NA>,NaN,<NA>,NaN,<NA>,752.805176,0,29.444445,0
10527,44,1941-05-30,15.0,1941-05-30 21:00:00+02:00,0,0,NaN,0,NaN,<NA>,NaN,<NA>,NaN,<NA>,751.662170,0,30.555555,0
10528,44,1941-05-31,8.0,1941-05-31 14:00:00+02:00,0,0,NaN,0,NaN,<NA>,NaN,<NA>,NaN,<NA>,752.805176,0,29.444445,0
10529,44,1941-05-31,15.0,1941-05-31 21:00:00+02:00,0,0,NaN,0,NaN,<NA>,NaN,<NA>,NaN,<NA>,751.585999,0,31.111111,0

In [10]:
df

,Stn,Date,Time,timestamp,Precipitation,qPrecipitation,maxPressure,qPressure,minPressure,qMinPressure,maxTemperature,qMaxTemperature,minTemperature,qMinTemperature,Pressure,qPressure_1,dryBulbTemperature,qDryBulbTemperature
0,44,1920-01-01,24.0,1920-01-02 00:00:00+00:00,0,0,757.0,<NA>,756.5,0,29.0,0,28.5,0,NaN,<NA>,NaN,<NA>
1,44,1920-01-02,24.0,1920-01-03 00:00:00+00:00,0,0,757.5,<NA>,757.0,0,29.0,0,29.0,0,NaN,<NA>,NaN,<NA>
2,44,1920-01-03,24.0,1920-01-04 00:00:00+00:00,0,0,756.0,<NA>,755.5,0,29.5,0,29.0,0,NaN,<NA>,NaN,<NA>
3,44,1920-01-04,24.0,1920-01-05 00:00:00+00:00,0,0,757.0,<NA>,756.5,0,28.5,0,28.0,0,NaN,<NA>,NaN,<NA>
4,44,1920-01-05,24.0,1920-01-06 00:00:00+00:00,0,0,756.5,<NA>,755.5,0,29.0,0,28.5,0,NaN,<NA>,NaN,<NA>
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11319,44,1941-12-29,15.0,1941-12-29 21:00:00+02:00,<NA>,7,NaN,7,NaN,<NA>,NaN,<NA>,NaN,<NA>,NaN,7,NaN,7
11320,44,1941-12-30,8.0,1941-12-30 14:00:00+02:00,<NA>,7,NaN,7,NaN,<NA>,NaN,<NA>,NaN,<NA>,NaN,7,NaN,7
11321,44,1941-12-30,15.0,1941-12-30 21:00:00+02:00,<NA>,7,NaN,7,NaN,<NA>,NaN,<NA>,NaN,<NA>,NaN,7,NaN,7
11322,44,1941-12-31,8.0,1941-12-31 14:00:00+02:00,<NA>,7,NaN,7,NaN,<NA>,NaN,<NA>,NaN,<NA>,NaN,7,NaN,7
11323,44,1941-12-31,15.0,1941-12-31 21:00:00+02:00,<NA>,7,NaN,7,NaN,<NA>,NaN,<NA>,NaN,<NA>,NaN,7,NaN,7

Datum   maxPressure     minPressure     maxTemp     minTemp     regenKranlendijk        regenRincon
vanaf 1935: ook plantage bolivia

In [22]:
%%sql
--1920:
# CREATE TABLE Bonaire_1920 AS
SELECT * FROM
    (SELECT Date, maxPressure, minPressure, maxTemperature, minTemperature FROM 'dbs/bonaire.parquet'
    WHERE maxPressure IS NOT NULL)

    JOIN

    (SELECT Date, Precipitation AS rainKralendijk FROM 'dbs/bonaire.parquet' WHERE Stn == 44)
    USING (Date)
    
    JOIN

    (SELECT Date, Precipitation AS rainRincon FROM 'dbs/bonaire.parquet' WHERE Stn == 42)
    USING (Date)
WHERE Date < '1921-01-01'
ORDER BY Date;

,Date,maxPressure,minPressure,maxTemperature,minTemperature,rainKralendijk,rainRincon
0,1920-01-01,757.0,756.5,29.0,28.5,0.0,0.0
1,1920-01-02,757.5,757.0,29.0,29.0,0.0,0.0
2,1920-01-03,756.0,755.5,29.5,29.0,0.0,0.0
3,1920-01-04,757.0,756.5,28.5,28.0,0.0,0.0
4,1920-01-05,756.5,755.5,29.0,28.5,0.0,0.0
...,...,...,...,...,...,...,...
361,1920-12-27,757.5,756.0,28.0,28.0,0.0,0.0
362,1920-12-28,756.0,755.0,28.0,27.0,0.0,3.0
363,1920-12-29,757.5,755.0,28.0,27.0,0.0,0.0
364,1920-12-30,757.0,755.0,29.0,27.0,0.0,0.0
365,1920-12-31,757.0,755.0,29.0,28.0,0.0,0.0

In [ ]:
%%sql
SELECT Date, maxPressure, minPressure, maxTemperature, minTemperature FROM 'dbs/bonaire.parquet'
WHERE maxPressure IS NOT NULL
ORDER BY Date

            Date  maxPressure  minPressure  maxTemperature  minTemperature
0     1920-01-01        757.0        756.5            29.0            28.5
1     1920-01-01          NaN          NaN             NaN             NaN
2     1920-01-02        757.5        757.0            29.0            29.0
3     1920-01-02          NaN          NaN             NaN             NaN
4     1920-01-03        756.0        755.5            29.5            29.0
...          ...          ...          ...             ...             ...
20086 1941-12-30          NaN          NaN             NaN             NaN
20087 1941-12-31          NaN          NaN             NaN             NaN
20088 1941-12-31          NaN          NaN             NaN             NaN
20089 1941-12-31          NaN          NaN             NaN             NaN
20090 1941-12-31          NaN          NaN             NaN             NaN

[20091 rows x 5 columns]